<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container" th:fragment="content">
    <td th:text="${creator}">1</td>
    </div>
</body>
</html>