<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="http://inaadress.maaamet.ee/inaadress/js/inaadress.min.js"></script>
    ...
</head>
<body>
<div class="container" th:fragment="content">

        <td th:text="${company.name}">1</td>
    ...
    <table>
        <tr th:each="employee : ${company.employees}">
            <td th:text="${employee.name != null} ? ${employee.name}">1</td>
            <td><span th:text="${employee.address.postalIndex != null} ? ${employee.address.postalIndex}"></span>&nbsp;<span th:text="${employee.address.location != null} ? ${employee.address.location}"></span></td>
            <td th:text="${employee.dateOfBirth != null} ? ${employee.dateOfBirth}">1</td>
        </tr>

    </table>

    <h1>Add employee</h1>

    <form action="#" th:action="@{/}" th:object="${person}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Identificatin code: <input type="text" th:field="*{identificationCode}" /></p>
        <!--<p>Birth year:-->
            <!--&lt;!&ndash;<input type="number" th:field="*{dateOfBirth.year}" />&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="number" th:field="*{dateOfBirth.month.}" />&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="number" th:field="*{dateOfBirth.dayOfMonth}" />&ndash;&gt;-->
        <!--</p>-->

        <p>Postal index: <input type="number" th:field="*{address.postalIndex}" /></p>
        <!--<p>Address: <input type="text" th:field="*{address.location}" /></p>-->
        <div id="address"></div>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
    <script>


        var inAadress = new InAadress({"mode":"3","container":"address","nocss":false,"appartment":0});

        document.addEventListener('addressSelected', function(e){
            var info = e.detail[0];

        });

    </script>
</body>
</html>